[submodule "modules/template"]
	path = modules/template
	url = https://github.com/canguser/scent-template.git
[submodule "modules/proxies"]
	path = modules/proxies
	url = https://github.com/canguser/scent-proxies.git
